.row {
	display: flex;
	flex-wrap: wrap;
}

#tool_box {
	display: inline-block;
	border: 1px #444 solid;
	position: relative;
}

.tool {
	width: 100px;
	height: 400px;
}

/*.tool_btn {
	position: ;
	top: 2%;
	left: 8%;
}*/

.canvas_obj {
	position: absolute;
}

.canvas_obj_txt {
	resize: none;
	overflow: hidden;
}

#canvas {
	width: 400px;
	height: 400px;
	border: 1px #444 solid;
	position: relative;
}

#main_canvas {
	display: inline-block;
}